---
import { Image } from "astro:assets";
import SectionTitle from "./SectionTitle.astro";
import gallaryImage from "../assets/Frame 109 (1).png";
---

<section class="bg-secondary px-6 py-24" id="Gallary">
  <SectionTitle class="flex justify-start pb-16 text-accent/30">
    Gallary
  </SectionTitle>

  <div>
    <div class="carousel rounded-box">
      <div class="carousel-item">
        <Image src={gallaryImage} alt="Burger" width={600} />
      </div>
      <div class="carousel-item">
        <Image src={gallaryImage} alt="Burger" width={600} />
      </div>
      <div class="carousel-item">
        <Image src={gallaryImage} alt="Burger" width={600} />
      </div>
      <div class="carousel-item">
        <Image src={gallaryImage} alt="Burger" width={600} />
      </div>
      <div class="carousel-item">
        <Image src={gallaryImage} alt="Burger" width={600} />
      </div>
      <div class="carousel-item">
        <Image src={gallaryImage} alt="Burger" width={600} />
      </div>
      <div class="carousel-item">
        <Image src={gallaryImage} alt="Burger" width={600} />
      </div>
    </div>
  </div>
</section>
