---
import { Picture } from "@astrojs/image/components";
import SectionTitle from "./SectionTitle.astro";
import gallaryImage from "../assets/Frame 109 (1).png";
---

<section class="bg-secondary px-6 py-24" id="Gallary">
  <div class="mx-auto max-w-screen-2xl">
    <SectionTitle id="left" class="flex justify-start pb-16 text-accent/30">
      Gallary
    </SectionTitle>

    <div>
      <div class="carousel rounded-box">
        <div class="carousel-item">
          <Picture
            src={gallaryImage}
            aspectRatio="1:1"
            widths={[200, 400, 800]}
            sizes="(max-width: 1024px) 100vw, 500px"
            alt="descriptive text"
          />
        </div>
        <div class="carousel-item">
          <Picture
            src={gallaryImage}
            aspectRatio="1:1"
            widths={[100, 300, 500]}
            sizes="(max-width: 1024px) 100vw, 500px"
            alt="descriptive text1"
          />
        </div>
        <div class="carousel-item">
          <Picture
            src={gallaryImage}
            aspectRatio="1:1"
            widths={[100, 300, 500]}
            sizes="(max-width: 1024px) 100vw, 500px"
            alt="descriptive text2"
          />
        </div>
        <div class="carousel-item">
          <Picture
            src={gallaryImage}
            aspectRatio="1:1"
            widths={[100, 300, 500]}
            sizes="(max-width: 1024px) 100vw, 500px"
            alt="descriptive text3"
          />
        </div>
        <div class="carousel-item">
          <Picture
            src={gallaryImage}
            aspectRatio="1:1"
            widths={[100, 300, 500]}
            sizes="(max-width: 1024px) 100vw, 500px"
            alt="descriptive text4"
          />
        </div>
        <div class="carousel-item">
          <Picture
            src={gallaryImage}
            aspectRatio="1:1"
            widths={[100, 300, 500]}
            sizes="(max-width: 1024px) 100vw, 500px"
            alt="descriptive text5"
          />
        </div>
        <div class="carousel-item">
          <Picture
            src={gallaryImage}
            aspectRatio="1:1"
            widths={[100, 300, 500]}
            sizes="(max-width: 1024px) 100vw, 500px"
            alt="descriptive text6"
          />
        </div>
      </div>
    </div>
  </div>
</section>
