---
import { Image } from "@astrojs/image/components";
import logo from "../assets/Bar Chrome.svg";
const navItems = ["About", "Floor", "Menu", "Access", "Gallary"];
---

<div class="drawer fixed z-50 bg-primary">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <nav class="navbar h-full w-full p-0">
      <h1 class="ml-6 flex-1 font-montserrat text-2xl text-neutral">
        <a href="#Home">
          <Image src={logo} width={50} height={50} alt="logo" class="w-2/3" />
        </a>
      </h1>

      <div class="h-full flex-none bg-accent lg:hidden">
        <label
          for="my-drawer-3"
          class="btn-ghost btn hover:bg-transparent"
          id="hamburgerButton"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="inline-block h-6 w-6 text-white"
            ><path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path></svg
          >
        </label>
      </div>

      <div class="hidden h-full lg:block">
        <div class="flex h-full gap-16">
          <ul
            class="my-auto flex gap-3 text-center font-montserrat text-neutral"
          >
            {
              navItems.map((item) => (
                <li class=" relative my-auto h-full w-full  pb-1 after:absolute after:bottom-0 after:left-0 after:h-[5px] after:w-full after:scale-x-[0.04] after:scale-y-100 after:rounded-[50%]  after:bg-neutral after:transition-all after:duration-300 after:hover:h-[2px] after:hover:scale-x-90 after:hover:scale-y-100 after:hover:rounded-none ">
                  <a
                    href={`#${item}`}
                    class=" inline-block h-full w-full px-7 "
                  >
                    {item}
                  </a>
                </li>
              ))
            }
          </ul>

          <div class="my-auto flex h-full bg-accent px-6 text-white">
            <dl class="flex items-center gap-4">
              <dt>ご予約・お問い合わせ</dt>
              <dd class="font-montserrat text-2xl">
                <a href=" tel:070-4419-3000" class="inline-block"
                  >070-4419-3000</a
                >
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </nav>
    <!-- Page content here -->
  </div>
  <div class="drawer-side z-[100] opacity-100">
    <label for="my-drawer-3" class="drawer-overlay"></label>
    <div class="h-full w-80 rounded-none bg-primary p-4 text-center">
      <a href="#Home">
        <h2 class="pb-6 font-montserrat text-2xl text-neutral">
          <Image
            src={logo}
            width={50}
            height={50}
            alt="logo"
            class="mx-auto w-2/3"
          />
        </h2>
      </a>
      <ul
        class="my-auto flex flex-col text-center font-montserrat text-neutral"
      >
        {
          navItems.map((item) => (
            <li class=" w-full border-b border-neutral pb-0.5" id="liItem">
              <a
                class=" inline-block h-full w-full py-3 text-xl "
                href={`#${item}`}
              >
                {item}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>

<script>
  //navItemsをクリックしたら、ドロワーが閉じる実装

  const hamburgerButton = document.getElementById("hamburgerButton");
  const drawerMenu = document.getElementById("my-drawer-3") as HTMLInputElement; //ドロワー本体
  const liNavItems = document.querySelectorAll(
    "#liItem"
  ) as NodeListOf<HTMLLIElement>; //navItems

  hamburgerButton?.addEventListener("click", function () {
    if (drawerMenu.checked) {
      drawerMenu.checked = false;
    }
  });

  liNavItems.forEach((item) => {
    item.addEventListener("click", function () {
      drawerMenu.checked = false;
    });
  });
</script>
