---
import cocketailImage from "../assets/Frame 109 (1).png";
import foodImage from "../assets/Frame 109 (3).png";
import whiskeyImage from "../assets/Frame 109.png";
import wineImage from "../assets/Frame 109 (2).png";
import MenuCard from "./MenuCard.astro";
import SectionTitle from "./SectionTitle.astro";
const wiskey = [
  { label: "IWハーパー12年", price: 1000 },
  { label: "マリカラン12年", price: 1100 },
  { label: "知多", price: 900 },
  { label: "ジャックダニエル", price: 800 },
];
const cocketail = [
  { label: "ジントニック", price: 800 },
  { label: "モスコミュール", price: 800 },
  { label: "テキーラサンライズ", price: 800 },
  { label: "ラムコーク", price: 800 },
];

const wine = [
  {
    label: "ハウスワイン 赤白",
    price: 700,
  },
  {
    label: "ボトルワイン",
    text: "取り揃えています",
  },
];

const beer = [
  { label: "コロナ", price: 800 },
  { label: "ビックウェーブ", price: 900 },
  { label: "ハートランド", price: 800 },
  { label: "ハイネケン", price: 700 },
];
---

<section class="" id="Menu">
  <div class="mx-auto max-w-screen-2xl">
    <div class="grid -scroll-my-10 gap-10 pt-24 lg:gap-20">
      <div class="flex flex-col justify-start px-6">
        <SectionTitle class="text-accent/30">Menu</SectionTitle>

        <p class="lg:text-xl">
          当店では種類豊富なウイスキーを中心に、幅広くご用意。ウィスキー・ワイン・カクテルなどからお選びいただけます。<br
          />お酒に詳しくない方も、お好みの味やお酒のタイプを伝えてくだされば、最適な一杯をご提案いたします。
        </p>
      </div>

      <MenuCard menuImage={whiskeyImage} menus={wiskey} order title="Whiskey" />
      <MenuCard menuImage={cocketailImage} menus={cocketail} title="Cocktail" />
      <MenuCard menuImage={wineImage} menus={wine} order title="Wine" />
      <MenuCard menuImage={wineImage} menus={beer} title="Beer" />
      <MenuCard menuImage={foodImage} order notMenu title="Food" />
    </div>
  </div>
</section>
