---
import "@fontsource-variable/roboto-flex";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PageTop from "../components/PageTop.astro";
const title = "Bar Chrome";
const description =
  "Bar Choromeは大人で落ち着いた雰囲気の町田のカジュアルバーです！2018年の開店以来、経験豊富なバーテンダーが作るカスタムカクテルで町田の皆さんをおもてなししてきました。Chromeは新しい出会いと思い出を作る場所です。初めての方も大歓迎ですのでお気軽にご来店お待ちしています。";
const canonicalURL = new URL(
  Astro.url.pathname,
  "https://bar-chrome.vercel.app/"
);
const ogpImageURL = new URL("/ogp.jpg", canonicalURL);
---

<!DOCTYPE html>
<html lang="ja" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href="../assets/Frame116.webp" as="image" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL.href} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogpImageURL.href} />

    <!-- Twitter -->
    <meta property="twitter:card" content={ogpImageURL.href} />
    <meta property="twitter:url" content={canonicalURL.href} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogpImageURL.href} />

    <!--Google search console -->
    <meta name="google-site-verification" content="5DvtjosRgfyencSMEW61pnZIL4L6i6Qr9IQaSzeUhLw" />
  </head>

  <body class="bg-primary">
    <Header />
    <PageTop />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  body {
    font-family: "Roboto Flex Variable", sans-serif;
  }
</style>
